<!-- Views/User/Index.cshtml -->
@using RHView_TCC.Models.DTOs

@model List<UserListDTO>
@{
    ViewData["Title"] = "Usuários Ativos";
}

<h2>Usuários Ativos</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Função</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model) {
            <tr>
                <td>@user.Nome</td>
                <td>@user.Sobrenome</td>
                <td>@user.Role</td>
                <td>
                    <a asp-controller="User" asp-action="Detalhes" asp-route-id="@user.Id" class="btn btn-sm btn-info">
                        Ver detalhes
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

